* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --black-light: #2d2d2d;
    --red-pink: #c72c48;
    --yellow-dark: #f4c542;
    --white-good: #fffffd;
    --gray-light: #f5f5f5;
    --gray-dark: #b0b0b0;
    --gradient-website: linear-gradient(135deg, #2d2d2d, #c72c48, #f4c542);
}


body {
    height: 100vh;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 90px;
    transition: margin-left 0.5s ease;
}


.menu-lateral {
    height: 100%;
    overflow-y: auto;
    max-height: 100vh;
    width: 75px;
    background-color: var(--black-light);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px 40px 2%;
    box-shadow: 0 3px 15px var(--red-pink);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    transition: width 0.5s ease;
    /* Suaviza a transição do menu lateral */
}

.menu-lateral:hover {
    width: 280px;
}

.menu-lateral:hover~.content {
    margin-left: 200px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-menu.ativo {
    background-color: var(--red-pink);
}


.menu-lateral:hover~body {
    margin-left: 280px;
}

.menu-lateral:hover .menu-expandir {
    padding-left: 10px;

}

.txt-link {
    text-decoration: none;
}

.menu-expandir {
    width: 100%;
    padding-left: 1px;
    transition: padding-left .5s;

}

.menu-expandir:hover {
    padding-left: 10px;
}

.menu-expandir>i {
    color: var(--white-good);
    font-size: 24px;
    cursor: pointer;

}

ul {
    height: 100%;
    list-style-type: none;
}

.item-menu {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px 4%;
    transition: .5s;
    border-radius: 15px 20px 20px 5px;
}

.item-menu:hover {
    background: var(--red-pink);

}

.item-menu a {
    text-decoration: none;
    color: var(--white-good);
    font-size: 24px;
    display: flex;
    align-items: center;
}

.txt-link {
    margin-left: 50px;
    font-size: 20px;
    color: var(--white-good);
}


/*<---------------------------------------SALDO ATUAL------------------------------------>*/
.saldo-info {
    background-color: var(--white-good);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--black-light);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    transition: transform .7s ease;
    margin-right: 20px;
}

.saldo-info:hover {
    transform: scale(1.02);
}

#saldo-valor {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

.content {
    padding: 2rem;
    transition: margin-left 0.5s ease;
}


/*<---------------------------------------GRAFICO------------------------------------>*/
.grafico {
    background-color: var(--white-good);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

canvas {
    width: 80% !important;
    height: 300px !important;
}


/*-------------------------------------------TRANSAÇÕES-----------------------------------------*/

.transactions-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.transaction-item {
    background-color: var(--white-good);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--black-light);
    border-radius: 8px;
    padding: 20px;
}

.transaction-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.transaction-header h2 {
    font-size: 1.2rem;
    margin: 0;
}

.transaction-date {
    font-size: 0.9rem;
    color: var(--black-light);
}

.transaction-details p {
    margin: 0;
}

/* Botão Adicionar Transação */
.btn-adicionar {
    background-color: var(--red-pink);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

/* Estilo do Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form select,
form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--black-light);
}

form button {
    background-color: var(--red-pink);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Botões Editar/Excluir */
.editar-btn,
.excluir-btn {
    background-color: var(--red-pink);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}


/*----------------------------------------------------------------*/

/* Estilos específicos para a página de categorias */

/* Filtro de categoria */
.filtros-categoria {
    margin-bottom: 20px;
    font-size: 16px;
}

.filtros-categoria label {
    margin-right: 10px;
}

.filtros-categoria select {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid var(--black-light);
    border-radius: 5px;
}

/* Estilos para a lista de categorias personalizadas */
.custom-categories {
    list-style-type: none;
    padding: 0;
}

.custom-category {
    background-color: var(--white-good);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 50%;
}

/* Modal */
.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    margin: 10px 0 5px;
}

.modal-content form input[type="text"],
.modal-content form input[type="color"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--black-light);
}

/* Botões */
.categoria-actions button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.categoria-actions .edit {
    background-color: var(--yellow-dark);
    color: white;
}

.categoria-actions .delete {
    background-color: var(--red-pink);
    color: white;
}

/* Botão Adicionar Categoria */
.btn-add {
    background-color: var(--yellow-dark);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*---------------------------------------------------------------------------------------------*/
/* Página de Metas Financeiras */

.content {
    padding: 2rem;
    transition: margin-left 0.5s ease;
}

/* Botão para Adicionar Nova Meta */
.btn-primary {
    background-color: var(--red-pink);
    color: var(--white-good);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: var(--black-light);
    color: var(--white-good);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger {
    background-color: #f44336;
    color: var(--white-good);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--white-good);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    height: 20px;
    width: 100%;
}

.progress {
    background-color: var(--red-pink);
    height: 100%;
    transition: width 0.3s ease;
}

/*-------------------------------------------------------------------------------------------------------*/
/* Estilos específicos para a página de Relatórios */

/* Conteúdo da página de relatórios */
/*-------------------------------------------REPORTS-----------------------------------------*/

/*-------------------------------------------REPORTS-----------------------------------------*/

/* Container principal da página de Reports */
.reports-container {
    padding: 2rem;
    background-color: var(--white-good);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px;
}

/* Cabeçalho da página de Reports */
.reports-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reports-header h1 {
    font-size: 2rem;
    color: var(--black-light);
}

.reports-header .btn-add-report {
    background-color: var(--red-pink);
    color: var(--white-good);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reports-header .btn-add-report:hover {
    background-color: darken(var(--red-pink), 10%);
}

/* Seção de filtros de Reports */
.reports-filters {
    margin-bottom: 20px;
}

.reports-filters label {
    font-weight: bold;
    color: var(--black-light);
    margin-right: 10px;
}

.reports-filters select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--black-light);
}

/* Lista de relatórios */
.reports-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.report-item {
    background-color: var(--white-good);
    color: var(--black-light);
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-item h3 {
    font-size: 1.5rem;
    margin: 0;
}

.report-item .report-details {
    font-size: 1rem;
    color: var(--black-light);
}

.report-item .report-actions {
    display: flex;
    gap: 10px;
}

.report-item .report-actions button {
    background-color: var(--red-pink);
    color: var(--white-good);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.report-item .report-actions button:hover {
    background-color: darken(var(--red-pink), 10%);
}